html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;
}
a, input, select, textarea {
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
img {
	vertical-align:top;
	border:0;
	opacity:1;
	filter: alpha(opacity=100);
	max-width:100%;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
body {
	overflow-x:hidden;
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	line-height:20px;
	font-size: 13px;
	color: #FFFFFF	;
	background: #000000;
}
html { font-size: 100%;
}
::selection{
	background: #FF0080;
	color: #FFF;
}
::-moz-selection {
	background: #FF0080; /* Firefox */
	color:#fff;
}
a {
	color: #FF0080;
	text-decoration:none !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
a:hover { color: #555555;
}
p {
	margin:0 0 20px;
	padding:0;
}
.fleft {float:left;
}
.fright {float:right;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}

h2 {
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:400;
	line-height:40px;
	font-size:40px;
	color:#FFFFFF;
}
h3 {
	margin:0 0 21px;
	padding:0;
	text-transform:uppercase;
	font-weight:400;
	line-height:22px;
	font-size:21px;
	color:#FFFFFF;
}
h4 {
	margin: 0;
	padding:0;
	text-transform:uppercase;
	font-weight:400;
	line-height:20px;
	font-size:14px;
	color:#FFFFFF;
}
.container {
	width:1000px;
	margin:0 auto;
}
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left:20px;
	margin-bottom:20px;
}
.row {margin-left:-20px;
}
.span12 {width: 980px;}
.span11 {width: 915px;}
.span10 {width: 830px;}
.span9 {width: 745px;}
.span8 {width: 660px;}
.span7 {width: 575px;}
.span6 {width: 490px;}
.span5 {width: 405px;}
.span4 {width: 320px;}
.span3 {width: 235px;}
.span2 {width: 150px;}
.span1 {width: 65px;}

.page_section {
	padding:90px 0 80px;
}
.title_section {
	padding:30px 0 3px 10px;
	border-top:2px solid #e7e7e7;
	border-bottom:2px solid #e7e7e7;
	background-color:#000000;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
}
.opacity {
	opacity: 0;
	filter: alpha(opacity=0);
}
.center {
	text-align:center;
}

/* ____________________ Header ____________________ */
#top{
	position:relative;
	z-index:999;
	height: 67px;
	margin: 0;
	padding: 0;
	background: #fff;
	background: rgba(255,255,255,0.22);
}

.toplogo img {
	display: none;
}

#logo a {
	position:absolute;
	left:50%;
	top:0;
	text-transform:none;
	font-family: 'Engagement', cursive;
	font-weight:400;
	line-height:67px;
	font-size:50px;
	color:#FF0080;
	transform: translate(-52%, 0);
	-ms-transform: translate(-52%, 0);
	-webkit-transform: translate(-52%, 0);
}

/* __________ Fixed Menu Style __________ */
.fixed-menu {
	position:fixed;
	z-index:99999;
	left:0px;
	top:-67px;
	width: 100%;
	height:67px;
	background: #505050;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;

}

.fixed-menu.fixed_show {
	top:0px;
	opacity: 1;
	filter: alpha(opacity=100);
}

.fixed-menu-wrapper {
	padding: 0;
}
.fixed-menu .navmenu {
	padding:0;
}

/* _________ //Fixed Menu Style _________ */
a.menu_toggler { display:none;
}
.navmenu{
	margin: 0;
	text-align:center;
}
.navmenu ul li {
	display: inline-block;
	margin: 0 35px 0 0;
	padding-right:45px;
	background-image: url(../images/menu_spsk.png);
	background-repeat: no-repeat;
	background-position: right center ;
}
.navmenu ul li.last {
	background: none;
	margin:0;
	padding:0;
}
.navmenu ul li.middle_menu {
	margin-right:480px;
	padding:0;
	background: none;
}
.navmenu ul li a{
	position:relative;
	display:block;
	padding: 0;
	text-decoration:none !important;
	text-transform:uppercase;
	line-height:67px;
	color: #fff;
}
.navmenu ul li a:hover,
.navmenu ul li.active a {
	color:#FF0080;
}

.fixed-menu.fixed_show img {
	display:inline;
}

.fixed-menu.fixed_show img:hover {
	opacity: 0.7;
}



/* ____________________ Home ____________________ */
#home {
	overflow:hidden;
	position:relative;
	top:-67px;
	margin-bottom:-67px;
	padding:0;
	min-height:850px;
	background-size:cover;
	height: auto;
}

#home .home_background {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat: no-repeat;
}

#home .home_fill {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/home_fill.png);
}
#home .welcome_block {
	position:relative;
	z-index:1;
	text-align:center;
}
#home .welcome_block p {
	display:inline-block;
	margin: 0 0 28px;
	padding: 0 15px;
	text-transform: uppercase;
	font-weight:400;
	line-height: 44px;
	font-size: 29px;
	color: #fff;
	background: #4d4c4f;
	background: rgba(255,255,255,0.13);
}

/* __________ Socials __________ */
.top_socials li {
	display:inline-block;
	margin:0 7px 0 10px;
}
.top_socials li a {
	display:block;
	width:45px;
	height:45px;
	border-radius:50%;
	background-image:url(../images/top_socials.png);
	background-repeat:no-repeat;
	transition: none;
	-webkit-transition: none;
}
.top_socials li a.soc1 {background-position: 0 -50px;
}
.top_socials li a.soc1:hover {background-position:0 -2px;
}
.top_socials li a.soc2 {background-position:-55px -50px;
}
.top_socials li a.soc2:hover {background-position:-55px -2px;
}
.top_socials li a.soc3 {background-position:-111px -50px;
}
.top_socials li a.soc3:hover {background-position:-111px -2px;
}
.top_socials li a.soc4 {background-position:-170px -50px;
}
.top_socials li a.soc4:hover {background-position:-170px -2px;
}
.top_socials li a.soc5 {background-position:-224px -50px;
}
.top_socials li a.soc5:hover {background-position:-224px -2px;
}
/* _________ //Socials _________ */

a.down_btn {
	position:absolute;
	z-index:1;
	left:50%;
	bottom:35px;
	margin-left:-13px;
	display:block;
	width:26px;
	height:26px;
	background:url(../images/down_btn.png) no-repeat;
	
}

/* ___________________ //down button 2 ___________________ */

a.down_btn2 {
	position:absolute;
	z-index:1;
	left:50%;
	bottom:800px;
	margin-left:-13px;
	display:block;
	width:26px;
	height:26px;
	background:url(../images/down_btn.png) no-repeat;
	}
	
	
	
/* ___________________ //down button 3 ___________________ */

a.down_btn3 {
	position:absolute;
	z-index:1;
	left:50%;
	bottom:800px;
	margin-left:-13px;
	display:block;
	width:26px;
	height:26px;
	background:url(../images/down_btn.png) no-repeat;
	}


/* ____________________ About ____________________ */
#about .title_section {
	background:url(../images/Flower-Vintage-Background.jpg);
	opacity:0.6;
	width: 100%;
	height:67px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.about_slide {padding-top:4px;
}

/* ___________________ //About ___________________ */

/* ____________________ Progress ____________________ */
#progress {
	overflow:hidden;
	position:relative;
	top:-67px;
	margin-bottom:-67px;
	padding:0;
	min-height:850px;
	background: url(../images/progress_bg.jpg);
	background-size:cover;
}
	
.progress_fill {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: url(../images/progress_fill.png);

}


h1 {
	position:relative;
	text-align: center;
	vertical-align: middle;
	line-height: 50px; 
	opacity:0.2;
	top: 300px;
	font-family: 'Pinyon Script', cursive;
	font-size: 40px;
	padding-left:4px;
}


/* ___________________ //interval2 ___________________ */

#interval2 {
	overflow:hidden;
	position:relative;
	top:-67px;
	margin-bottom:-67px;
	padding:0;
	min-height:850px;
	background: url(../images/interval2_bg.jpg);
	background-size:cover;
}
.interval2_fill {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: url(../images/progress_fill.png);
}

/* ____________________ Portfolio ____________________ */
#portfolio .title_section {
	background:url(../images/Flower-Vintage-Background.jpg);
	opacity:0.6;
	width: 100%;
	height:67px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

/* ____________________ Portfolio ____________________ */


.col:hover img {
	opacity: 0.5;
	cursor:pointer;
}

.text_container{
    margin: 0 5% 2% 5%;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
    margin: 1% 0 1% 1.1%;
    opacity:0;
}
.col:first-child { margin-left: 1.4%; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF SEVEN  */

.span_7_of_7 {
        width: 100%;
}
.span_6_of_7 {
        width: 85.48%;
}
.span_5_of_7 {
        width: 70.97%;
}
.span_4_of_7 {
        width: 56.45%;
}
.span_3_of_7 {
        width: 41.92%;
}
.span_2_of_7 {
        width: 27.42%;
}
.span_1_of_7 {
        width: 12.91%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.col:first-child { margin-left: 0; }
}

@media only screen and (max-width: 480px) {
.span_7_of_7 {
	width: 100%;
}
.span_6_of_7 {
	width: 100%;
}
.span_5_of_7 {
	width: 100%;
}
.span_4_of_7 {
	width: 100%;
}
.span_3_of_7 {
	width: 100%;
}
.span_2_of_7 {
	width: 100%;
}
.span_1_of_7 {
	width: 100%;
}

}



/* ____________________ Contact ____________________ */
#contact {
	overflow:hidden;
	position:relative;
}
#contact .title_section {
	background:url(../images/Flower-Vintage-Background.jpg);
	opacity:0.6;
	width: 100%;
	height:67px;	
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.border_bottom {border-bottom:1px solid #e7e7e7;
}
.contact_info {margin-bottom:20px;
}
.contact_info p.address {
	float:left;
	padding-top:7px;
	width:107px;
}
.contact_info a {
	color:#FFFFFF;
	word-wrap: break-word;
}
.contact_info a:hover {
	color:#FF0080;
}

.contact_info [class*="span"] {
	margin-bottom:10px;
}

#contact_form {border:none}

#contact_form label{display: block; margin-bottom:20px;}
#contact_form label span{float:left; width:100px; color:#666666;}
#contact_form input{height: 30px; border: 3px solid #DBDBDB; border-radius: 3px; padding-left: 4px; color: #666; width: 500px; font-size:15px;font-family: Arial, Helvetica, sans-serif;}
#contact_form textarea{border: 3px solid #DBDBDB; border-radius: 3px; padding-left: 4px;color: #666; height:100px; width: 500px; font-size:15px;font-family: Arial, Helvetica, sans-serif;}

.success{ background: #006400; padding: 10px; margin-bottom: 10px; border: 1px solid #006400; border-radius: 5px; font-weight: normal; }
.error{ background: #FF0000; padding: 10px; margin-bottom: 10px; border: 1px solid #FF0000; border-radius: 5px; font-weight: normal;}


#contact_form .submit_btn{
	position:relative;
	cursor:pointer;
	display: block; 
	border: 0;
	width: 520px;
	color:#fff;
	background-color: #FF0080;
	background-image: url(../images/i8.png);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#contact_form .submit_btn:hover {
	background-color:#4e4e4e;
}


/* ____________________ Footer ____________________ */
.footer {
	padding:20px 0 20px;
	color:#bfbfbf;
	background:#505050;
}
.footer a {color:#FF0080;	
}
.footer a:hover {color:#bfbfbf;	
}
.copyright {padding:8px 0;
}
.footer a.down_btn {
	position:static;
	margin:0;
	padding:0;
	display:block;
	width:32px;
	height:36px;
	background: url(../images/top_btn.png) no-repeat;
}

/* ___________________ //Footer ___________________ */


/* ____________________ Isotope Styles ____________________ */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

/* ___________________ //Isotope Styles ___________________ */


/* ____________________ Responsive Style ____________________ */

@media (max-width: 1023px) {

	.parallax_effect {background-size:cover;background-position:0 0 !important;}

	#home {background-position:0 0 !important;}

	#about, #portfolio, #contact, .contact_parallax,  #blog, #testimonials, #nulla, #nam {background-position:0 0 !important; background-size:cover;}
	
	.opacity { opacity: 1; filter: alpha(opacity=100);}
	
	#contact {padding-bottom:40px;}
	
	#home {min-height:100%;}


	.contact_info [class*="span"] {width:100% !important;margin-left:0 !important;}
	.contact_info p.address {width:100%;}
	
	textarea, input[type="text"] {width:444px;}	

	.span12 {width: 1724px;}
	.span11 {width: 1662px;}
	.span10 {width: 1600px;}
	.span9 {width: 1538px;}
	.span8 {width: 1476px;}
	.span7 {width: 1414px;}
	.span6 {width: 1352px;}
	.span5 {width: 1290px;}
	.span4 {width: 1228px;}
	.span3 {width: 1166px;}
	.span2 {width: 1104px;}
	.span1 {width: 142px;}

}

@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {

	.parallax_effect {background-size:cover;background-position:0 0 !important;}

	#home {background-position:0 0 !important;}

	#about, #portfolio, #contact, .contact_parallax,  #blog, #testimonials, #nulla, #nam {background-position:0 0 !important; background-size:cover;}

	.opacity { opacity: 1; filter: alpha(opacity=100);}
	
	#home {min-height:100%;}

	#contact {padding-bottom:40px;}

}

@media (min-width: 767px) and (max-width: 1000px) {
	.container {width:724px;}
	
	
	#home {min-height:100%;}

/* __________ Menu __________ */

.navmenu ul li {
	display: inline-block;
	margin: 0 8px 0 0;
	padding-right:25px;
	background-image: url(../images/menu_spsk.png);
	background-repeat: no-repeat;
	background-position: right center ;
}

.navmenu ul li.last {
	background: none;
	margin:0;
	padding:0;
}
.navmenu ul li.middle_menu {
	margin-right:307px;
	padding:0;
	background: none;
}
.navmenu ul li a{
	position:relative;
	display:block;
	padding: 0;
	text-decoration:none !important;
	text-transform:uppercase;
	line-height:65px;
	color: #fff;
}
.navmenu ul li a:hover,
.navmenu ul li.active a {
	color:#FF0080;
}

/* __________ About __________ */
	.video_block {height:198px;}

/* __________ Contact __________ */
	.contact_info [class*="span"] {width:100% !important;margin-left:0 !important;}
	.contact_info p.address {width:100%;}
	
	textarea, input[type="text"] {width:444px;}	

	.span12 {width: 724px;}
	.span11 {width: 662px;}
	.span10 {width: 600px;}
	.span9 {width: 538px;}
	.span8 {width: 476px;}
	.span7 {width: 414px;}
	.span6 {width: 352px;}
	.span5 {width: 290px;}
	.span4 {width: 228px;}
	.span3 {width: 166px;}
	.span2 {width: 104px;}
	.span1 {width: 42px;}

	
}

@media (max-width: 766px) {
	.container {width:470px;}
	.toplogo img {width:69px; height:69px; display:inline; }

	#contact 
	.contactlogo img {float:right;}
	.contactinfo {float:left;}
	.clear {clear: both;}


	
	.title_section {padding:35px 0;}
	
	#home {min-height:100%;top:0;margin-bottom:0;}

/* __________ Header __________ */
	#top {height:0;}
	#top header {
		height: 67px !important;
		padding: 0;
		position: fixed; width: 100%; z-index: 999; top: 0; left:0;
		background: #505050;
	}

/* __________ Menu __________ */	
	.fixed-menu, .fixed-menu:before, .fixed-menu:after, .navmenu {display:none !important;}
	a.menu_toggler {
		overflow:hidden;
		position:absolute;
		right:20px;
		top:50%;
		display:inline-block;
		float:right;
		margin:-17px 0px 0px 0;
		width:34px;
		height:34px;
		background-color:#FF0080;
	}
	a.menu_toggler:hover {
		background-color:#FF0080;
	}

	a.menu_toggler:before {
		content:'';
		display:block;
		position:absolute;
		left:7px;
		top:7px;
		width:20px;
		height:20px;
		background-repeat:no-repeat;
		background:url(../images/btn_menu.png) no-repeat 0 0;		
	}
	.mobile_menu_wrapper {
		display:block;
		background:#3e3e3e;
		position: fixed; width: 100%; z-index: 999; top:67px; left:0;
		padding: 15px 40px 15px 20px;
	}
	.mobile_menu_wrapper a {color:#fff;text-transform:uppercase;
	}
	.mobile_menu_wrapper a:hover {color:#FF0080;
	}
	.mobile_menu_wrapper a span {display:none;}

/* __________ Home __________ */
	#logo a {padding-left:20px;left:0; transform: translate(0, 0); -ms-transform: translate(0, 0); -webkit-transform: translate(0, 0);}
	
/*	.welcome_block h1 {font-size:30px;line-height: 46px;}*/
	#home .welcome_block p {font-size:15px; line-height:25px;}

/* __________ About __________ */	
	.progress_block {width:308px;margin:0 auto;}
	.progress_block li {width:77px;float:left;}
	.progress_block li span {font-size:36px;line-height:40px;}
/* _________ //About _________ */

/* __________ Portfolio __________ */
	#filter a {margin-left:5px;margin-right:5px;}
	
	.portfolio_block .element {width:50%;}
/* _________ //Portfolio _________ */


/* __________ Contact __________ */
	/*.contact_info [class*="span"] {width:100% !important;margin-left:0 !important;}
	.contact_info p.address {width:100%;}*/
/* _________ //Contact _________ */


	/*.contact_info {margin-bottom:10px;}*/
	
	
/*	#contact textarea, #contact input[type="text"] {width:438px;}
*/


	.row {margin-left:0;}
	[class*="span"] {
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
	}

	h1 {
	position:relative;
	text-align: center;
	vertical-align: middle;
	line-height: 35px; 
	opacity:0.2;
	top: 300px;
	font-family: 'Pinyon Script', cursive;
	font-size: 35px;
	padding-left:4px;
}

}

@media (max-width: 479px) {	
	.container {width:310px;}

	.toplogo img {width:69px; height:69px}

	.portfolio_block .element {width:100%;}
	
/*	#contact textarea, #contact input[type="text"] {width:278px;}*/
	
	.footer {text-align:center;}

	.footer .fleft, .footer .fright {float:none;}
	
	.copyright {text-align:center;}

	.footer a.down_btn {display:inline-block; margin:10px auto;}

	
}
